.wrapp {
  & ul {
    & li {
      position: relative;
      font-size: .9375rem;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: .4375rem;
      font-weight: 400;
      color: var(--blue-400);
      padding: 15px 0;
  
      &:not(:first-child) {
        &::before {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background: var(--white-01);
        }
      }
  
      & h3 {
        color: var(--white);
        font-weight: 400;
        font-size: 1rem;
      }

      & span {
        position: relative;

        &:not(:last-child) {
          margin-right: .625rem;

          &::before {
            position: absolute;
            content: '•';
            bottom: 0;
            right: -13px;
            color: var(--grey-400);
          }
        }
      }
    }
  }

}