.wrapp {
  border-radius: 0 0 var(--radius-4) var(--radius-4);
  overflow: hidden;
  display: grid;
  grid-template: auto 1fr / auto;
  height: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  gap: .9375rem;
  height: 100%;
  padding: 15px 10px;
  background: var(--grey-900);

  &__title {
    flex: 1 1 auto;
    font-weight: 500;
    font-size: .9375rem;
    color: var(--white);
  }

  &.white {
    background: var(--white);
    border: 1px solid var(--grey-100);
    
    & h4 {
      color: var(--grey-900);
    }

    & button {
      background: var(--blue-400-01);

      @media (any-hover: hover) {
        &:hover {
          background: var(--grey-100);
        }
      }
    }
  }
}