.wrapp {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  & h2 {
    font-weight: 800;
  }
  
  & ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  
    & li a {
      display: block;
      font-weight: 300;
      padding: .3125rem .625rem;
      border-radius: 1.5625rem;
      background: var(--blue-400-01);
      transition: .1s;

      @media (any-hover: hover) {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}