.wrapp {
  & > div {
    padding: 0 35px;
    & > div {
      padding: 5px;
      border-radius: 25px;
      border: 1px solid var(--grey-100);
    }
  }

  & button {
    width: 2.375rem;
    height: 2.375rem;
    border-radius: 50%;
    font-weight: 500;
    font-size: 1rem;
    color: var(--black);
    user-select: none;

    &.active {
      background: var(--orange-400);
      color: var(--white);
    }
  }
}