.wrapp {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .625rem;

  & li {
    font-weight: 300;
    border-radius: 1.5625rem;
    border: 2px solid var(--grey-400);
    transition: background .2s;
    
    & a {
      display: block;
      padding: 5px 10px;
    }

    @media (any-hover: hover) {
      &:hover {
        background: var(--grey-400);
      }
    }
  }
}