.wrapp {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .625rem;

  & li {
    font-weight: 300;
    border-radius: 1.5625rem;
    background: var(--blue-400-01);
    transition: background .2s;
    
    & a {
      display: block;
      padding: 8px 13px;

      &:first-letter {
        text-transform: uppercase;
      }
    }

    @media (any-hover: hover) {
      &:hover {
        background: var(--white-01);
      }
    }
  }
}