.wrapp {
  font-family: "Bebas Neue";
  display: flex;
  align-items: center;
  gap: .3125rem;
  padding: .3125rem;
  border-radius: var(--radius-4);
  font-size: 1rem;

  @media (any-hover: hover) {
    &:hover {
      background: var(--white-01);
    }
  }

  & svg {
    font-size: 15px;
  }
}