.wrapp {
  position: relative;
}

.title {
  font-family: "Bebas Neue";
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: .3125rem;
  border-radius: var(--radius-4);
  transition: background .2s;
  
  & svg {
    font-size: 1.25rem;
    transition: transform .2s;
  }
  
  @media (any-hover: hover) {
    &:hover {
      background: var(--white-01);
    }
  }
}

.list {
  padding: 5px;
  position: absolute;
  content: '';
  left: 0;
  top: 35px;
  // width: 100%;
  text-align: center;
  background: var(--grey-900);
  border-radius: var(--radius-4);
  border: 2px solid var(--white-01);
  display: none;

  &.open {
    display: block;
  }
}

.item {
  cursor: pointer;
  font-size: 12.5px;
  width: 100%;
  line-height: 2;
  transition: background .2s;

  @media (any-hover: hover) {
    &:hover {
      background: var(--white-01);
    }
  }
}