.list {
  background: var(--blue-400-01);
  padding: 10px;
  border-radius: var(--radius-4);

  & li {
    transition: transform .2s ease-out;

    &:not(:last-child) {
      border-bottom: 1px solid var(--grey-100);
    }

    @media (any-hover: hover) {
      &:hover {
        transform: translateX(-6px) scale(1.05);
      }
    }
  }
}