.wrapp {
  position: relative;
  padding-left: .9375rem;
  font-weight: 600;
  font-size: 2rem;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: .25rem;
    height: 100%;
    background: var(--orange-400);
  }

  & a {
    display: inline-flex;
    align-items: center;
    transition: .2s;

    & svg {
      padding: 4px 0 0 0;
      font-size: 3.375rem;
      transition: .2s;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--blue-400);
        
        & svg {
          transform: translateX(4px);
          color: var(--blue-400);
        }
      }
    }
  }
}