.wrapp {
  white-space: nowrap;
  font-family: "Bebas Neue";
  padding: .3125rem .75rem;
  background: var(--white);
  border-radius: .25rem;
  color: var(--grey-900);
  font-size: 18px;
  text-transform: uppercase;
}