.wrapp {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: .9375rem 0;
  border-top: 1px solid var(--white-01);
  grid-row-gap: 8px;

  &.borderBottom {
    border-top: unset;
    border-bottom: 1px solid var(--white-01);
  }

  & h4 {
    font-weight: 500;
    font-size: .875rem;
    color: var(--grey-400);
    width: 10.2rem;
  }

  & a {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: underline;
    color: var(--blue-400);

    @media (any-hover: hover) {
      &:hover {
        opacity: .8;
      }
    }

    &:not(:last-child) {
      &::before {
        position: absolute;
        content: ',';
        bottom: 0;
        right: -0.25rem;
      }
    }
  }

  &__box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .625rem;
  }
}

@media screen and (max-width: 768px) {
  .wrapp {
    text-align: center;
    align-items: center;
    flex-direction: column;

    &__box {
      justify-content: center;
    }
  }
}