.wrapp {
  position: relative;
  color: var(--orange-400);

  &:not(:last-child) {
    &::before {
      position: absolute;
      content: '/';
      top: 0;
      right: 5px;
      color: var(--white);
    }
  }

  & a {
    display: flex;
    align-items: center;
    gap: .3125rem;
    margin-right: 1.25rem;
    font-weight: 500;
    font-size: 1rem;
    transition: color .2s;

    @media (any-hover: hover) {
      &:hover {
        color: var(--white);
      }
    }

    & span {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.125rem;
    }
  }
}