.modal {
  padding: 5px;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--black-03);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity .2s;

  &.show {
    pointer-events: all;
    opacity: 1;
  }

  &_wrapp {
    position: relative;
    background: var(--black);
    min-height: 13.75rem;
    width: 100%;
    max-width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: .5rem;
    padding: 1.25rem 0 1rem 0;
  }

  &_star {
    pointer-events: none;

    & svg {
      position: absolute;
      top: -10px;
      left: 50%;
      color: var(--blue-400);
      transition: transform .2s;
    }

    & span {
      position: absolute;
      font-weight: 600;
      top: -10px;
      left: 50%;
      transform: translateX(-50%);
      color: var(--white);
      font-size: 1.3rem;
    }
  }

  &_list {
    display: flex;
    align-items: center;

    & li {
      padding: 0 1px;
    }

    & svg {
      font-size: 2rem;
    }
  }
}

.rate {
  color: var(--grey-900);
  padding: .625rem 3.125rem;
  font-size: 1rem;
  font-weight: 500;
  background: var(--orange-400);
  border-radius: var(--radius-4);
  transition: opacity .2s;

  @media (any-hover: hover) {
    &:hover {
      opacity: .8;
    }
  }
}