.wrapp {
  display: flex;
  align-items: center;
  gap: .3125rem;
  background: var(--white);
  color: var(--grey-900);

  height: 2.0625rem;
  border-radius: .9375rem;
  padding: 0 .75rem;
  border: 2px solid var(--orange-400);
}

.input {
  width: 100%;
  height: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    font-size: 1.375rem;
  }
}