.wrapp {
  position: relative;
}

.search {
  display: flex;
  align-items: center;
  gap: .625rem;
  background: var(--white);
  color: var(--grey-900);

  height: 2.0625rem;
  border-radius: .9375rem;
  padding: 0 .75rem;
  border: 2px solid var(--orange-400);
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.375rem;
  position: absolute;
  z-index: 10;
  content: '';
  top: 50%;
  right: .625rem;
  transform: translateY(-50%);
  color: var(--grey-400);
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-right: 1px solid var(--grey-400);
  padding-right: .3125rem;

  & span {
    white-space: nowrap;
  }

  & ul {
    position: absolute;
    content: '';
    left: 0;
    top: 2.1875rem;
    z-index: 10;
    text-align: center;
    background: var(--grey-900);
    border-radius: var(--radius-4);
    border: 2px solid var(--white-01);
    display: none;
  
    &.open_select {
      display: block;
    }

    & li {
      white-space: nowrap;
      cursor: pointer;
      font-size: 12.5px;
      width: 100%;
      padding: .5rem;
      transition: background .2s;
      color: var(--white);
    
      @media (any-hover: hover) {
        &:hover {
          background: var(--white-01);
        }
      }
    }
  }
}

.input {
  width: 100%;
  height: 100%;
  padding-right: 2.5rem;
}

.button {
  display: none;
  align-items: center;
  justify-content: center;
  color: var(--grey-900);

  svg {
    font-size: 1.375rem;
  }
}

.results {
  position: absolute;
  left: 0;
  top: 2.5rem;
  z-index: 9;
  width: 100%;
  background: var(--grey-900);
  border-radius: var(--radius-4);
  
  & ul {
    max-height: 35.625rem;
    overflow-y: scroll;
    
    & li {
      cursor: pointer;
      transition: background .2s;
      color: var(--white);
  
      &:not(:last-child) {
        border-bottom: 1px solid var(--grey-800);
      }
    
      @media (any-hover: hover) {
        &:hover {
          background: var(--white-01);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapp {
    position: static;
    display: flex;
    justify-content: flex-end;
    border: none;
    background: none;
  }

  .search {
    position: fixed;
    z-index: 10;
    content: '';
    top: -100%;
    left: 0;
    width: 100%;
    height: 4.0625rem;
    border: none;
    border-radius: 0;
    background: var(--grey-900);
    transition: all .2s;
    pointer-events: none;
    opacity: 0;

    &.open_search {
      pointer-events: all;
      opacity: 1;
      top: 0;
    }
  }

  .results {
    top: 4.0625rem;
    display: none;

    &.results_open {
      display: block;
    }
  }

  .select {
    color: var(--orange-400);
  }
  
  .input {
    color: var(--white);
  }

  .close{
    font-size: 2.125rem;
    right: 1.25rem;
  }
  
  .button {
    display: flex;
    flex: 0 1 auto;
    padding: 5px;
    border-radius: 50%;
    transition: background .2s;

    &:hover {
      background: var(--white-01);
    }

    & svg {
      color: #fff;
    }
  }
}