.swiper {
  width: 100% !important;
  z-index: 0 !important;
}

.swiper-wrapper {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
}

.swiper-button {
  pointer-events: all !important;
  position: absolute;
  z-index: 0 !important;
  top: 50%;
  font-size: 2.75rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  border-radius: 50%;
  color: var(--grey-900) !important;
  padding: 5px 0;
  width: 40px !important;
  height: 40px !important;
  transition: .2s;
  box-shadow: 0 0 20px 0px var(--grey-900);

  &.swiper-button-lock {
    display: none;
  }

  &::after {
    display: none;
  }

  @media (any-hover: hover) {
    &:hover {
      &.swiper-button-prev {
        transform: translate(-5px);
      }
      &.swiper-button-next {
        transform: translate(5px);
      }
    }
  }
}

.swiper-button-prev {
  left: -10px !important;
}

.swiper-button-next {
  right: -10px !important;
}