.wrapp {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.body {
  display: grid;
  gap: 1.25rem;
  grid-template: 1fr / 65% 1fr;
}

.card {
  position: relative;
  padding-bottom: 5%;

  &::before {
    position: absolute;
    z-index: 2;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 25%, rgba(253,187,45,0) 100%);
  }

  & button {
    z-index: 2 !important;
  }

  &_image {
    position: relative;
    padding: 25% 0;
    border-radius: var(--radius-4);
    overflow: hidden;

    & img {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &_poster {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 2.4%;
    width: 27%;
  }

  &_counter {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    position: absolute;
    content: '';
    top: 7px;
    right: 7px;
    font-weight: 500;
    width: 60px;
    height: 60px;
    font-size: 13px;
    background: var(--grey-900);
    color: var(--white);

    & p {
      font-size: 1.25rem;
      font-weight: 600;
    }
  }

  &_body {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    bottom: 20%;
    left: 33%;

    & a {
      line-height: 1;
      font-size: 32px;
      transition: opacity .2s;

      @media (any-hover: hover) {
        &:hover {
          opacity: .8;
        }
      }
    }

    & span {
      padding-top: .4375rem;
      color: var(--grey-400);
      font-size: 14px;
    }
  }
}

.list {
  padding: .9375rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: var(--grey-900);
  border-radius: var(--radius-4);

  &_item {
    display: grid;
    gap: 1.25rem;
    grid-template: 1fr / 22.5% 1fr;
    height: 100%;
  }

  &_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .4375rem;
  }

  &_body {
    font-size: 1.0625rem;
    font-weight: 500;
    transition: opacity .2s;

    @media (any-hover: hover) {
      &:hover {
        opacity: .8;
      }
    }
  }

  &_overview {
    margin-top: .625rem;
    padding: 10px 10px 5px 10px;
    font-size: .75rem;
    color: var(--grey-400);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    background: rgb(255, 255, 255, .04);
    border-radius: 6px;
    line-height: 1.7;
    font-weight: 500;
  }
}

.more_movies {
  font-weight: 600;
  display: inline-flex;
  justify-content: flex-end;
  cursor: auto;

  & a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3125rem;
    font-size: 1rem;
    transition: color .2s;

    & svg {
      padding-top: 2px;
      font-size: 1.2rem;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--orange-400);
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .card {
    &_body {
      & a {
        font-size: calc(14px + calc(32 - 14) * ((100vw - 320px) / (1280 - 320)));
      }
  
      & span {
        font-size: calc(11px + calc(16 - 11) * ((100vw - 320px) / (1280 - 320)));
      }
    }
  }
  
  .list {
    &_body {
      font-size: calc(12px + calc(17 - 12) * ((100vw - 320px) / (1280 - 320)));
    }
  }
}

@media screen and (max-width: 950px) {
  .body {
    grid-template: 1fr / 1fr;
  }

  .list {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .body {
    grid-template: minmax(330px, 1fr) / 1fr;
  }

  .card {
    &_image {
      height: 100%;
    }
  
    &_poster {
      width: 11.875rem;
    }

    &_body {
      left: 14.375rem;
    }
  }

  .more_movies {
    & a {
      font-size: .875rem;
  
      & svg {
        padding-top: 2px;
        font-size: 1.1rem;
      }
    }
  }
}

@media screen and (max-width: 475px) {
  .card {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    &_image {
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;

      &::after {
        position: absolute;
        z-index: 3;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--black-03);
      }
    }
  
    &_poster {
      position: relative;
      padding-top: 1.25rem;
      width: 11.875rem;
      margin: 0 auto;
    }

    &_counter {
      display: none;
    }

    &_body {
      text-align: center;
      position: static;
      bottom: unset;
      left: unset;
    }
  }
}