.wrapp {
  margin: 6.25rem auto;
  max-width: 600px;
  display: grid;
  justify-items: center;
  grid-template: auto / 65% 35%;
  font-weight: 600;

  @media screen and (max-width: 768px) {
    grid-template: auto / 1fr;
  }
}

.right {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.25rem;
  border-left: 1px solid var(--grey-800);
  width: 100%;

  @media screen and (max-width: 768px) {
    border: none;
  }
}

.row {
  display: flex;
  flex-direction: column;
  gap: .625rem;
}

.button {
  margin-top: .625rem;
  background: var(--grey-900);
  color: var(--white);
  border-radius: 1.5625rem;
  min-height: 45px;
  transition: background 0.3s;

  &:hover {
    background: var(--grey-800);
  }

  &.ban {
    pointer-events: none;
    opacity: .7;
  }

  &_orange {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--orange-400);
    color: var(--grey-900);

    &:hover {
      background: var(--orange-300);
    }
  }
}

.label {
  font-weight: 300;
  font-size: .8125rem;
}