.wrapp {
  position: relative;
  white-space: nowrap;
  border-radius: 1.25rem;
  transition: .2s;
  
  .logo {
    font-family: "Bebas Neue";
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--orange-400);
  }
}

@media screen and (max-width: 768px) {
  .wrapp {
    .logo {
      font-size: 1.2rem;
    }
  }
}