.footer {
  background: var(--grey-900);
}

.wrapp {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.history {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;

    & h2 {
      font-weight: 600;
    }

    & button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.25rem;
      color: var(--blue-400);
      padding: .625rem;
      border-radius: 50%;
      transition: background .2s;
      
      @media (any-hover: hover) {
        &:hover {
          background: var(--white-01);
        }
      }
    }
  }
}

.social_list {
  display: flex;
  align-content: inherit;
  justify-content: center;
  gap: 1.875rem;

  & a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    padding: .625rem;
    border-radius: 50%;
    transition: background .2s;

    @media (any-hover: hover) {
      &:hover {
        background: var(--white-01);

        & span {
          color: var(--white);
        }
      }
    }

    & svg {
      font-size: 1.375rem;
    }

    & span {
      font-size: .75rem;
      color: var(--grey-400);
      transition: color .2s;
    }
  }
}

.tmdb_logo {
  display: flex;
  align-items: center;
  justify-content: center;

  & img {
    width: 6.25rem;
  }
}

.signIn {
  display: flex;
  justify-content: center;
  align-items: center;

  & a {
    font-size: 1rem;
    font-weight: 600;
    background: var(--orange-400);
    color: var(--black);
    padding: 8px 17px;
    border-radius: var(--radius-4);
    transition: opacity .2s;

    @media (any-hover: hover) {
      &:hover {
        opacity: .9;
      }
    }
  }
}