.wrapp {
  position: relative;
  width: 100%;
  height: 100%;

  & input {
    width: 100%;
    height: 100%;
    padding-right: 2.5rem;
  }
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.375rem;
  position: absolute;
  z-index: 10;
  content: '';
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: var(--grey-400);
  border-radius: 50%;
  transition: background .2s;

  @media (any-hover: hover) {
    &:hover {
      background: rgba(0, 0, 0, .05);
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapp {
    color: var(--white);
  }

  .close{
    font-size: 2.125rem;
    right: 0;
  }
}