.wrapp {
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: .375rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: var(--radius-4);
  color: var(--blue-300);
  transition: background .2s;
  white-space: nowrap;

  @media (any-hover: hover) {
    &:hover {
      background: var(--orange-300) !important;
    }
  }

  &.bookmark {
    position: absolute;
    width: unset;
    padding: 0;
    color: var(--grey-400);
    display: block;
    transition: .3s;

    @media (any-hover: hover) {
      &:hover {
        transform: translateY(3px) scale(1.12) !important;
        background: none !important;
        color: var(--orange-300);
      }
    }
  }

  & span {
    display: flex;
    align-items: center;
    gap: .3125rem;
  }

  & svg {
    font-size: 2rem;
  }
}