.wrapp {
  position: absolute;
  left: 0;
  top: 0;
  color: var(--grey-400);
  transition: color .2s;

  &.button {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 100%;
    position: relative;
    background: var(--white-01);
    border-radius: var(--radius-4);
    transition: .2s;
  }

  &.active {
    color: var(--orange-400);

    &.button {
      background: var(--orange-400);
      color: var(--black);
    }
  }


  & svg {
    font-size: 32px;
  }

  & p {
    font-weight: 600;
    font-size: 1rem;
  }

  @media (any-hover: hover) {
    &:hover {
      color: var(--orange-300);

      &.button {
        color: var(--black);
        background: var(--orange-300);
      }

      &.active {
        color: var(--grey-400);

        &.button {
          background: var(--white-01);
        }
      }
    }
  }
}