.wrapp {
  display: grid;
  gap: 1.25rem;
  grid-template: 7rem / 7rem 1fr;

  &.big {
      grid-template: auto 1fr / auto;
      height: 100%;
    
    .image {
      & a {
        padding: 50% 0 !important;
      }
    }

    .box {
      padding-top: 0;
      
      & h4 {
        text-align: center;
        font-weight: 500;
      }
    }
  }
}

.image {
  border-radius: 50%;
  overflow: hidden;
}

.box {
  padding-top: .3125rem;
  display: flex;
  flex-direction: column;
  gap: .3125rem;

  & h4 {
    font-weight: 700;
    font-size: 1rem;
  }

  & p {
    color: var(--grey-400);
  }
}