@import url('./assets/fonts/fonts.scss');
@import url('./style/swiper.scss');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
  list-style: none;
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: .3125rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  --blue-400: #0066ff;
  --blue-300: #5799ef;
  --blue-400-01: rgba(179, 189, 208, 0.1);
  --grey-900: #121212;
  --grey-850: #1a1a1a;
  --grey-800: #353535;
  --grey-600: #727272;
  --grey-400: #a0a0a0;
  --grey-100: #dddddd;
  --grey-50: #f0f0f0;
  --red-400: #ff0000;
  --orange-400: #f5c518;
  --orange-300: #e9c440;
  --green-400: #67ad4b;
  --white: #fff;
  --white-01: rgba(255, 255, 255, .1);
  --black: #000;
  --black-03: rgba(0, 0, 0, .3);
  --radius-4: 4px;
}

html {
  height: 100%;
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: .875rem;
  font-weight: 400;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--black);
  color: var(--white);
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App-wrapp {
  flex: 1 1 auto;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 .9375rem;
  height: 100%;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

input {
  background: none;
  border: none;
  outline: none;
}