.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .625rem;

  &_left {
    & ul {
      display: flex;
      align-items: center;
      gap: 1.25rem;
      color: var(--grey-400);

      & li {
        position: relative;
        line-height: 2;

        &:not(:last-child) {
          &::before {
            position: absolute;
            content: '';
            top: 50%;
            right: -12.5px;
            transform: translateY(-50%);
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: var(--grey-400);
          }
        }
      }
    }
  }

  &_right {
    display: flex;
    align-items: flex-start;
    gap: 1.25rem;
  }
}

@media screen and (max-width: 650px) {
  .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: unset;
    gap: 1rem;
    text-align: center;

    & ul {
      align-items: center;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 374px) {
  .head {
    &_right {
      gap: 6px;
    }
  }
}