.wrapp {
  & ul {
    display: grid;
    gap: .625rem;
    grid-template: auto / 1fr 1fr;

    & li {
      padding: 2px;
      border-radius: var(--radius-4);
      background: linear-gradient( to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.06));

      @media (any-hover: hover) {
        &:hover {
          background: var(--blue-400-01);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapp {
    & ul {
      grid-template: auto / 1fr;
    }
  }
}