.wrapp {
  display: grid;
  grid-template: auto / 3.125rem 1fr;
  gap: 1.25rem;
  padding: 10px;
  border-radius: var(--radius-4);
}

.box {
  display: flex;
  flex-direction: column;
  gap: 4px;
  
  &__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .3125rem;
    
    font-size: .75rem;

    & h4 {
      font-weight: 600;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-column-gap: 6px;
    grid-row-gap: 2px;

    & span {
      position: relative;
      white-space: nowrap;
      font-size: .75rem;
      color: var(--grey-400);
  
      &:not(:last-child) {
        &::before {
          position: absolute;
          content: ',';
          bottom: 1px;
          right: -3px;
        }
      }
    }
  }
}