.wrapp {
  display: grid;
  grid-template: auto / 2.5rem 1fr;
  gap: .625rem;
  padding: .625rem .625rem .625rem 0;
}

.col {
  @media (any-hover: hover) {
    &:hover {
      & p {
        opacity: .7;
      }
    }
  }

  & p {
    font-size: 1.1rem;
    font-weight: 500;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    transition: opacity .2s;
  }

  & span {
    font-size: .8125rem;
    color: var(--grey-400);
  }
}