.wrapp {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  & h2 {
    font-weight: 800;
  }

  & ul {
    background: var(--blue-400-01);
    padding: .3125rem;
    border-radius: var(--radius-4);

    & li {
      transition: background .2s ease-out;

      &:not(:last-child) {
        border-bottom: 1px solid var(--grey-100);
      }

      @media (any-hover: hover) {
        &:hover {
          background: var(--grey-50);
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .wrapp {
    & ul {
      display: grid;
      grid-template: auto / 1fr 1fr;

      & li {
        border-bottom: 1px solid var(--grey-100);
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .wrapp {
    & ul {
      grid-template: auto / 1fr;

      & li {
        border-bottom: none;

        &:not(:last-child) {
          border-bottom: 1px solid var(--grey-100);
        }
      }
    }
  }
}